<section class="TodoSection">
  <div class="TodoSectionTitle">
    <p class="TodoSectionTitle-text">Due Today</p>
    <p class="TodoSectionTitle-remainingCount">
    <% if show_completed_todo %>
      <%= todos.completed.count %>
    <% else %>
      0
    <% end %>
    /<%= todos.count %>
    </p>
  </div>

  <ul>
    <% todos.all.each do |todo| %>
    <% if show_completed_todo or !todo.completed %>
      <li class="TodoItem">
        <label class="TodoItem-container">

        <% if todo.completed %>
          <input class="TodoItem-checkbox" type="checkbox" checked />
          <p class="TodoItem-strikeOut"> <%= todo.todo_text %> </p>
        <% else %>
          <input class="TodoItem-checkbox" type="checkbox" />
          <%= todo.todo_text %>
        <% end %>

        <% if show_due_date %>
          <p class="TodoItem-dueDate"> <%= todo.due_date.to_s(:short) %> </p>
        <% end %>

          <a class="TodoItem-delete" href="javascript:void(0)">
            <img src="trashcan.svg" />
          </a>
        </label>
      </li>
    <% end %>
    <% end %>
  </ul>
</section>
